/* ==========================================================================
   z-index summary
   ========================================================================== */
.exercise__name  {z-index: 10;}
#boy 			{z-index: 20;}
.flash 	{z-index: 9999;}

/* ==========================================================================
   Elements
   ========================================================================== */
a:hover,
a:focus {
	text-decoration: none;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.container {
	background: url(../img/bg.png) repeat;
	width: 750px;
	/*max-height: 890px;*/
	padding: 40px 30px 20px;
	overflow: auto;
	position: relative;
}
.header {
	margin-bottom: 20px;
}
.pager {margin: 0 0 14px;color: #fff;font-size: 1.3em;

}
/* ==========================================================================
   Icons
   ========================================================================== */
.fa {
	vertical-align: middle;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
	display: inline-block;
	padding: 6px 10px;
	background-color: #fff;
	color: #541D00;
	font-size: 1.2em;
	margin: 0 5px;
	cursor: pointer;
}
.button--exercise {
	background: url(../img/button-exercise.png) no-repeat;
	padding: 3px;
	width: 136px;
	overflow: hidden;
	position: relative;
	background-image: none;
	background-color: #FFF;
	text-align: left;
}
.button-inner {
	border: 2px dashed #E96D84;
	padding: 4px 0 2px 10px;;
	
}
.button--exercise.small {
	background-position: 0px -45px;
	width: 96px;
}
.button--exercise .fa {
	color: #91CDBB;
	margin-top: -6px;
}
.button--exercise:before,
.button--exercise:after {
	content: '';
	display: block;
	position: absolute;
	transform: rotate(236deg) skewX(17deg);
	width: 320px;
	height: 320px;
	right: -338px;
}
.button--exercise:before {
	background-color: #FFFFFF;
	border: 2px dashed #E96D84;
	bottom: -141px;
	right: -332px;
}
.button--exercise:after {
	bottom: -141px;
	/*right: -394px;*/
	background-color: #E96D84;
}
/* ==========================================================================
   Modules
   ========================================================================== */
.score-board,
.exercise__name-outer {
	-webkit-box-shadow: 11px 7px 0px 2px #E96D84;
			box-shadow: 11px 7px 0px 2px #E96D84;
}
.exercise__name,
.exercise__name-outer {
	position: relative;
}
.exercise__name-outer {
	margin-bottom: 30px;
	background-color: #fff;
	padding: 30px 40px 40px 130px;
	
}
.exercise__name {
	font-size: 2.4em;
	font-weight: bold;
	margin-bottom: 12px;
}
.exercise__description {
	color: #B1572B;
	font-size: 1.3em;
}
#boy {
	position: absolute;
	background: url(../img/boy.png) no-repeat;
	background-size: contain;
	width: 143px;
	height: 146px;
	top: -22px;
	left: 3px;
}
.score-board {
	background: #FFFB9F;
	padding: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-right: 13px;
}

.exercise-container {
	padding: 16px 20px 15px;
	background-color: #E96D84;
	
}
.exercise {

}
.exercise__question {
	font-size: 1.5em;
	margin: 0 0 14px;
	
}
.fa-check-circle { color: #1EB53B; }
.fa-times-circle { color: #ED4D51; }

.exercise__question-number {
	font-size: 2em;
	padding-left: 46px;
	background: url(../img/flower.png) no-repeat;
	background-size: contain;
}
.exercise__question-number .fa {display: none;}

.exercise__answer-list {
	list-style-type: upper-alpha;
	list-style-position: inside;
	display: inline-block;
	padding: 0;
	position: relative;
}
.exercise__answer {
	margin-bottom: 4px;
	font-size: 1.5em;
	position: relative;
	background-color: #FFEBB5;
	border: 3px dashed transparent;
}
.exercise__answer .fa {
	font-size: 1.5em;
	color: #C56700;
	margin-right: 2px;
}
.exercise__answer-text {
	cursor: pointer;
	padding: 7px 5px;
	display: block;
}
/*.exercise__answer-text:hover {
	background-color: #FFEBB5;
}*/
.exercise__answer-text:active {
	/*background-color: #eee;*/
}
.exercise__wrong-notification {
	color: #B50E0E;
}
.exercise__question-image,
.exercise__answer-image {
	margin-bottom: 0.3em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 192px;
}
.flash {
	display: none;
	background: rgba(34, 130, 0, 0.9);
	color: #fff;
	border-radius: 3px;
	opacity: 0;
	padding: 1.25em;
	text-align: center;
	width: 40em;

	z-index: 160;
	position: absolute;
	left: 50%;
	top: 50%;

	-webkit-animation: flash-out 0.5s ease-in-out;
	animation: flash-out 0.5s ease-in-out;

	-webkit-transform: translate(-50%, -100% );
	-ms-transform: translate(-50%, -100% );
	transform: translate(-50%, -100% );
}
.flash--success {
  background: rgba(98, 213, 90, 0.9);
}
.flash-title {
	font-size: 2.3em;
}
.all-correct .flash {
	display: block;
	-webkit-animation: flash-in 0.5s ease-in-out;
	    animation: flash-in 0.5s ease-in-out;
	    opacity: 1;
}

@-webkit-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-moz-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-o-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-webkit-keyframes flash-in {
	0% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
}
@keyframes flash-in {
	0% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
}
@-webkit-keyframes flash-out {
	0% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
}
@keyframes flash-out {
	0% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
}

.actions {
	text-align: center;
	position: relative;
}
.actions--exercise {
	margin-bottom: 14px;
}

.show-answer-button,
.show-answer-button:before {
	background-color: #FFFBA0;
}

.check-answer-button,
.show-answer-button,
.first-question .owl-prev,
.last-question .owl-next,
.first-question.last-question .owl-nav {
	opacity: 0.3;
	pointer-events: none;
}
.last-question .check-answer-button,
.last-question .show-answer-button,
.answer-checked .show-answer-button {
	opacity: 1;
	pointer-events: all;
}

.qtype__tof .exercise__answer-list {
	list-style: none;
	display: block;
}
.qtype__mc  {

}
.dragzone,
.dropzone {
	min-height: 300px;
	padding: 12px;
	width: 100%;
}
.dropzone {
	background: #541D00;
}
.answer-revealed .dropzone.type-1,
.answer-revealed .exercise__answer.type-1 { background: #CE1739!important; color: #fff; }

.answer-revealed .dropzone.type-2,
.answer-revealed .exercise__answer.type-2 { background: #1EC392!important; color: #fff; }

.dropzone .exercise__answer {
	margin-bottom: 8px;
	padding-right: 36px;
}
.dragzone .exercise__answer,
.dropzone .exercise__answer {
	padding-left: 10px;
	border-color: transparent!important;
}
.dropzone .exercise__answer {
	background-color: #CC9A14;
	color: #fff;
}
.dropzone:before {
	content: attr(data-text);
	display: block;
	color: #fff;
	margin-bottom: 10px;
	font-size: 18px;
}

/* ==========================================================================
   Owl Carousel customization
   ========================================================================== */
.owl-carousel .owl-stage-outer {
	background-color: #FFFBDB;
	margin-top: 5px;
	border-radius: 20px;

}
.owl-carousel .owl-item {
	min-height: 300px;
	padding: 30px 40px 40px;
}
.owl-controls {
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	top: -103px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-nav .fa {
	color: #E96D84;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
	background-color: #FFFBDB;
	color: #541D00;
	border-radius: 15px;
	padding: 5px 14px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
	float: left;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
	float: right;
}

/* ==========================================================================
   States control
   ========================================================================== */
/* User can only choose answer when they click "Reset" to remove the .answer-checked */
.answer-checked .exercise__answer {
	pointer-events: none;
}
.answer-checked .exercise__answer.is-selected.is-correct-answer:after {
	content: "答對了！";
	color: #1EB53B;
}
.answer-checked .exercise__answer.is-selected.is-correct-answer:before {
	background-image: url(../img/smile_face.svg);
}

.is-wrong .exercise__answer-list:before,
.is-wrong .exercise__answer-list:after,
.answer-checked .exercise__answer.is-selected:before,
.answer-checked .exercise__answer.is-selected:after {
	position: absolute;
	top: 50%;
	font-weight: bold;
	font-size: 25px;
	z-index: 10;
	
}
.is-wrong .exercise__answer-list:before,
.answer-checked .exercise__answer.is-selected:before {
	content: '';
	display: block;
	background-image: url(../img/sad_face.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 26px;
	height: 26px;

	margin-top: -13px;
	right: -41px;
}
.is-wrong .exercise__answer-list:after,
.answer-checked .exercise__answer.is-selected:after {
	content: "答錯了！";
	color: #ED4D51;
	right: -150px;
	margin-top: -19px;
}

.layout-3 .answer-checked .exercise__answer.is-selected:before {top: 4px;right: 1px;}

.layout-3 .answer-checked .exercise__answer.is-selected:after,
.layout-4 .answer-checked .exercise__answer.is-selected:before,
.layout-4 .answer-checked .exercise__answer.is-selected:after,
.layout-5 .answer-checked .exercise__answer.is-selected:before,
.layout-5 .answer-checked .exercise__answer.is-selected:after,
.layout-6 .answer-checked .qtype__tof .exercise__answer.is-selected:after,
.layout-9 .answer-checked .exercise__answer.is-selected:after {
	content: none;
}
.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.layout-5 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.layout-7 .answer-checked .exercise__answer.is-selected:before {content: ''}
.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.layout-5 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.layout-7 .answer-checked .exercise__answer.is-selected.is-correct-answer:after, {content: "答對了！"}

.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:before {
	bottom: -35px;
	top: inherit;
	left: 50%;
	margin-left: 18px;
}

.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:after {
	bottom: -39px;
	top: inherit;
	left: 50%;
	margin-left: -8px;;
}

.layout-4 .is-wrong .exercise__answer-list:before {
	top: 70px;
	left: 50%;
	margin-left: -62px;
}

.layout-4 .is-wrong .exercise__answer-list:after {
	top: 70px;
	left: 50%;
	margin-left: -25px;
	right: inherit;
}
.layout-5 .is-wrong .exercise__answer-list:before {
	top: -18px;
	right: 164px;
}

.layout-5 .is-wrong .exercise__answer-list:after {
	top: -18px;
	right: 58px;
}

.layout-5 .exercise__answer-list {
	position: relative;
}
.layout-5 .exercise__answer {
	position: static;
}
.layout-5 .answer-checked .exercise__answer.is-selected:before,
.layout-5 .answer-checked .exercise__answer.is-selected:after {
	top: -19px;
	left: 50%;
	right: inherit;
}
.layout-5 .answer-checked .exercise__answer.is-selected:before {
	margin-left: -57px;
}
.layout-5 .answer-checked .exercise__answer.is-selected:after {
	margin-left: -29px;
}
.layout-6 .answer-checked .qtype__tof .exercise__answer.is-selected:before {
	right: -31px;
}

.layout-7 .answer-checked .exercise__answer.is-selected:before,
.layout-7 .is-wrong .exercise__answer-list:before {
	top: 75px;
	left: 50%;
	margin-left: -54px;
}
.layout-7 .answer-checked .exercise__answer.is-selected:after,
.layout-7 .is-wrong .exercise__answer-list:after {
	top: 75px;
	margin-left: -70px;
	right: 224px;
}
.layout-7 .answer-revealed .is-correct-answer .exercise__answer-text {
	background-color: transparent;
}

.layout-8 .answer-checked .exercise__answer.is-selected:after {content: none;}
.layout-8 .answer-checked .exercise__answer.is-selected:before {
	right: 6px;
}
.layout-9 .answer-checked .exercise__answer.is-selected:before {right: 5px;
	
}
.answer-revealed .exercise__answer.is-correct-answer {
	border: 3px dashed #0B7E0D;
	background-color: #FFCD47;
}
.fa.selected {
	color: #563209;
}
/* ==========================================================================
   Layout Specific
   ========================================================================== */
.layout-1 .exercise__answer.is-selected {
	background-color: #FF879D;
}
.layout-1 .show-answer-button,
.layout-1 .check-answer-button {
	display: none;
}
.layout-1 .answer-checked .exercise__answer.is-selected:after {
	content: "答錯了，請再選擇。";
	right: -280px;
}
.layout-1 .answer-checked .exercise__answer.is-selected.is-correct-answer:after {
	content: "答對了！";
	right: -150px;
}
.layout-1 .answer-checked .exercise__answer {
	pointer-events: all;
}
.layout-3 .exercise__answer-list {
	text-align: center;
}
.layout-3 .exercise__answer {
	/*width: 33%;*/
	padding: 0 0.3%;
	display: inline-block;
	vertical-align: top;
	background-color: transparent;
	margin-bottom: 50px;
}
.layout-3 .exercise__answer-text {
	height: 100%;
	display: table;
	background-color: #FFEBB5;
}
.layout-3 .exercise__answer-text-inner {
	display: table-cell;
	vertical-align: middle;
}
.layout-3 .exercise__answer-text .exercise__answer-image {
	width: auto;
	max-width: none;
	height: 125px;

}

.layout-4 .exercise__question-content {
	float: left;
	width: 33%;
	padding: 0 2%;
	position: relative;
}
.layout-4 .exercise__question-content:after {
	content: '';
	width: 0;
	height: 0;
	border: 10px solid rgba(0, 0, 0, 0);
	border-left-color: #985239;
	position: absolute;
	top: 89px;
	right: -16px;
}
.layout-4 .exercise__question-content:last-child:after {
	content: none;
}
.layout-4 .exercise__question .exercise__question-image {
	max-width: none;
	margin: 0 auto 0.3em;
	height: 192px;
	border: 3px solid #985239;
}
.layout-4 .exercise__answer-list,
.layout-7 .exercise__answer-list,
.dragzone.exercise__answer-list,
.dropzone.exercise__answer-list,
.exercise__answer.gu-mirror {
	list-style: none;
	display: block;
}
.layout-4 .exercise__answer-list,
.layout-7 .exercise__answer-list {
	text-align: center;
}
.layout-4 .exercise__answer {
	text-align: center;
	display: inline-block;
	width: 140px;
	margin: 0 10px;
}

.layout-5 .exercise__answer-list {
	display: block;
}

.layout-6 .qtype__tof .exercise__answer {
	text-align: center;
}
.layout-6 .exercise__question-image {
	height: auto;
}
.layout-7 .exercise__answer {
	background-color: transparent;
	position: static;
}
.layout-7 .exercise__answer-text {
	background-color: #FFEBB5;
}
.layout-7 .exercise__question-video {
	text-align: center;
	height: 200px;
	line-height: 200px;
	background-color: #aaa;
}
.layout-7 .owl-carousel .owl-item {
	padding: 30px 0px 40px 20px;
}

.layout-8 .exercise__answer.is-selected {
	/*display: none;*/
}
