/* ==========================================================================
   z-index summary
   ========================================================================== */
.exercise__name  {z-index: 10;}
#boy 			{z-index: 20;}
.flash 	{z-index: 9999;}

/* ==========================================================================
   Elements
   ========================================================================== */
a:hover,
a:focus {
	text-decoration: none;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.container {
	background: url(../img/bg.png) repeat;
	width: 750px;
	/*max-height: 890px;*/
	padding: 40px 30px 20px;
	overflow: auto;
	position: relative;
}
.header {
	margin-bottom: 20px;
}
.pager {
	margin: 0 0 14px;
	color: #fff;
	font-size: 1.3em;
}
.single-question-ex .pager {
	display: none;
}
.single-question-ex .owl-controls {
	top: -62px;
}
/* ==========================================================================
   Icons
   ========================================================================== */
.fa {
	vertical-align: middle;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
	display: inline-block;
	padding: 6px 10px;
	background-color: #fff;
	color: #541D00;
	font-size: 1.2em;
	margin: 0 5px;
	cursor: pointer;
}
.button--exercise {
	padding: 3px;
	width: 136px;
	overflow: hidden;
	position: relative;
	background-color: #FFF;
	text-align: left;
}
.button-inner {
	border: 2px dashed #E96D84;
	padding: 4px 0 2px 10px;;
	
}
.button--exercise.small {
	width: 96px;
}
.button--exercise .fa {
	color: #91CDBB;
	margin-top: -6px;
}
.button--exercise:before,
.button--exercise:after {
	content: '';
	display: block;
	position: absolute;
	transform: rotate(236deg) skewX(17deg);
	width: 320px;
	height: 320px;
	right: -338px;
}
.button--exercise:before {
	background-color: #FFFFFF;
	border: 2px dashed #E96D84;
	bottom: -141px;
	right: -332px;
}
.button--exercise:after {
	bottom: -141px;
	/*right: -394px;*/
	background-color: #E96D84;
}
/* ==========================================================================
   Modules
   ========================================================================== */
.score-board,
.exercise__name-outer {
	-webkit-box-shadow: 11px 7px 0px 2px #E96D84;
			box-shadow: 11px 7px 0px 2px #E96D84;
}
.exercise__name,
.exercise__name-outer {
	position: relative;
}
.exercise__name-outer {
	margin-bottom: 30px;
	background-color: #fff;
	padding: 20px 30px 24px 130px;
	
}
.exercise__name {
	font-size: 2.4em;
	font-weight: bold;
	margin-bottom: 12px;
}
.exercise__description {
	color: #B1572B;
	font-size: 1.3em;
}
#boy {
	position: absolute;
	background: url(../img/boy.png) no-repeat;
	background-size: contain;
	width: 143px;
	height: 146px;
	top: -22px;
	left: 3px;
}
.score-board {
	background: #FFFB9F;
	padding: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-right: 13px;
}

.exercise-container {
	padding: 16px 20px 15px;
	background-color: #E96D84;
	
}
.exercise {

}
.exercise__question {
	font-size: 1.5em;
	margin: 0 0 14px;
	
}
.fa-check-circle { color: #1EB53B; }
.fa-times-circle { color: #ED4D51; }

.exercise__question-number {
	font-size: 28px;
	padding-left: 36px;
	background: url(../img/flower.png) no-repeat;
	background-size: 33px;
	min-height: 35px;
}
.exercise__question-text {
	font-size: 28px;
}
.exercise__question-number .fa {display: none;}
.exercise__answer-list-outer {
	position: relative;
	z-index: 10;
}
.exercise__answer-list {
	list-style-type: upper-alpha;
	list-style-position: inside;
	display: inline-block;
	padding: 0;
	position: relative;
}
.exercise__answer {
	margin-bottom: 4px;
	font-size: 21px;
	position: relative;
	background-color: #FFEBB5;
	border: 3px dashed transparent;
	cursor: pointer;
}
.exercise__answer .fa {
	font-size: 1.5em;
	color: #C56700;
	margin-right: 2px;
}
.exercise__answer-text {
	cursor: pointer;
	padding: 7px 5px;
	display: block;
}
/*.exercise__answer-text:hover {
	background-color: #FFEBB5;
}*/
.exercise__answer-text:active {
	/*background-color: #eee;*/
}
.exercise__wrong-notification {
	color: #B50E0E;
}
.exercise__question-image,
.exercise__answer-image {
	margin-bottom: 0.3em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 192px;
}
.flash {
	display: none;
	background: rgba(34, 130, 0, 0.9);
	color: #fff;
	border-radius: 3px;
	opacity: 0;
	padding: 1.25em;
	text-align: center;
	width: 40em;

	z-index: 160;
	position: absolute;
	left: 50%;
	top: 50%;

	-webkit-animation: flash-out 0.5s ease-in-out;
	animation: flash-out 0.5s ease-in-out;

	-webkit-transform: translate(-50%, -100% );
	-ms-transform: translate(-50%, -100% );
	transform: translate(-50%, -100% );
}
.flash--success {
  background: rgba(98, 213, 90, 0.9);
}
.flash-title {
	font-size: 2.3em;
}
.all-correct .flash {
	display: block;
	-webkit-animation: flash-in 0.5s ease-in-out;
	    animation: flash-in 0.5s ease-in-out;
	    opacity: 1;
}

.actions {
	text-align: center;
	position: relative;
}
.actions--exercise {
	margin-bottom: 14px;
}

.show-answer-button,
.show-answer-button:before {
	background-color: #FFFBA0;
}

.check-answer-button,
.show-answer-button,
.first-question .owl-prev,
.last-question .owl-next,
.first-question.last-question .owl-nav {
	opacity: 0.3;
	pointer-events: none;
}
.last-question .check-answer-button,
.last-question .show-answer-button,
.answer-checked .show-answer-button {
	opacity: 1;
	pointer-events: all;
}

.qtype__tof .exercise__answer-list {
	list-style: none;
	display: block;
}
.qtype__mc  {

}
.dragzone,
.dropzone {
	min-height: 300px;
	padding: 12px;
	width: 100%;
}
.dropzone {
	background: #541D00;
	color: #fff;
}

.dropzone.over {background-color: #ddd!important;}
.dropzone.warning {background-color: #CE1739!important;}
.dropzone.correct {background-color: #1EC392!important;}

.answer-revealed .dropzone[class*="type-"],
.answer-revealed .exercise__answer[class*="type-"] {
	color: #fff;
	border-width: 3px; border-style: dashed;
}

.answer-revealed .dropzone.type-1,
.answer-revealed .exercise__answer.type-1 { background-color: #E4693B!important; border-color: #883212!important;}

.answer-revealed .dropzone.type-2,
.answer-revealed .exercise__answer.type-2 { background-color: #BEAD4E!important; border-color: #6D6014!important;}

.answer-revealed .dropzone.type-3,
.answer-revealed .exercise__answer.type-3 { background-color: #609E8C!important; border-color: #0F5642!important;}

.answer-revealed .dropzone.type-4,
.answer-revealed .exercise__answer.type-4 { background-color: #6577BA!important; border-color: #122054!important;}

.answer-revealed .dropzone.type-5,
.answer-revealed .exercise__answer.type-5 { background-color: #C57486!important; border-color: #6B1427!important;}

.answer-revealed .dropzone.type-6,
.answer-revealed .exercise__answer.type-6 { background-color: #7F5C83!important; border-color: #421248!important;}

.dropzone .exercise__answer {
	margin-bottom: 8px;
	padding-right: 36px;
}
.dragzone .exercise__answer,
.dropzone .exercise__answer {
	padding-left: 10px;
	border-color: transparent!important;
}
.dropzone .exercise__answer {
	background-color: #CC9A14;
	color: #fff;
}
.dropzone:before {
	content: attr(data-text);
	display: block;
	margin-bottom: 10px;
	font-size: 21px;
}
.layout-12 .dropzone:after {
	content: attr(data-correct);
	display: block;
	position: absolute;
	bottom: -59px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	padding: 4px;
	border: 2px solid;
	background-color: #fff;
	text-align: center;
	font-size: 24px;
}

/* ==========================================================================
   Owl Carousel customization
   ========================================================================== */
.owl-carousel .owl-stage-outer {
	background-color: #FFFBDB;
	margin-top: 5px;
	border-radius: 20px;

}
.owl-carousel .owl-item {
	min-height: 300px;
	padding: 30px 37px 10px;
}
.owl-controls {
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	top: -103px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-nav .fa {
	color: #E96D84;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
	background-color: #FFFBDB;
	color: #541D00;
	border-radius: 15px;
	padding: 5px 14px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
	float: left;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
	float: right;
}

/* ==========================================================================
   States control
   ========================================================================== */
/* User can only choose answer when they click "Reset" to remove the .answer-checked */
.answer-checked .exercise__answer {
	pointer-events: none;
}
.answer-checked .exercise__answer.is-selected.is-correct-answer:after {
	content: "答對了！";
	color: #1EB53B;
}
.answer-checked .exercise__answer.is-selected.is-correct-answer:before {
	background-image: url(../img/smile_face.png);
}

.is-wrong .exercise__answer-list:before,
.is-wrong .exercise__answer-list:after,
.answer-checked .exercise__answer.is-selected:before,
.answer-checked .exercise__answer.is-selected:after {
	position: absolute;
	top: 50%;
	font-weight: bold;
	font-size: 25px;
	z-index: 10;
	
}
.is-wrong .exercise__answer-list:before,
.answer-checked .exercise__answer.is-selected:before {
	content: '';
	display: block;
	background-image: url(../img/sad_face.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 26px;
	height: 26px;

	margin-top: -13px;
	right: -41px;
}
.is-wrong .exercise__answer-list:after,
.answer-checked .exercise__answer.is-selected:after {
	content: "答錯了！";
	color: #ED4D51;
	right: -150px;
	margin-top: -19px;
}

.layout-3 .answer-checked .exercise__answer.is-selected:before {top: 4px;right: 1px;}

.layout-3 .answer-checked .exercise__answer.is-selected:after,
.layout-4 .answer-checked .exercise__answer.is-selected:before,
.layout-4 .answer-checked .exercise__answer.is-selected:after,
.layout-5 .answer-checked .exercise__answer.is-selected:before,
.layout-5 .answer-checked .exercise__answer.is-selected:after,
.layout-6 .answer-checked .qtype__tof .exercise__answer.is-selected:after,
.layout-9 .answer-checked .exercise__answer.is-selected:after,
.layout-11 .answer-checked .exercise__answer.is-selected:after,
.layout-13 .answer-checked .exercise__answer.is-selected:after,
.layout-14 .answer-checked .exercise__answer.is-selected:after,
.layout-18 .answer-checked .exercise__answer.is-selected:after,
.layout-17 .answer-checked .exercise__answer.is-selected:after,
.layout-15 .answer-checked .exercise__answer.is-selected:after
{
	content: none;
}
.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.layout-5 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.layout-7 .answer-checked .exercise__answer.is-selected:before {content: ''}
.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.layout-5 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.layout-7 .answer-checked .exercise__answer.is-selected.is-correct-answer:after {content: "答對了！"}

.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.layout-4 .is-wrong .exercise__answer-list:before
{
	bottom: -35px;
	top: inherit;
	left: 50%;
	margin-left: -43px;
}

.layout-4 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.layout-4 .is-wrong .exercise__answer-list:after
{
	bottom: -39px;
	top: inherit;
	left: 50%;
	margin-left: -8px;
	right: initial;;
}

.layout-5 .is-wrong .exercise__answer-list:before {
	top: -18px;
	right: 164px;
}

.layout-5 .is-wrong .exercise__answer-list:after {
	top: -18px;
	right: 58px;
}

.layout-5 .exercise__answer-list {
	position: relative;
}
.layout-5 .exercise__answer {
	position: static;
}
.layout-5 .answer-checked .exercise__answer.is-selected:before,
.layout-5 .answer-checked .exercise__answer.is-selected:after {
	top: -19px;
	left: 50%;
	right: inherit;
}
.layout-5 .answer-checked .exercise__answer.is-selected:before {
	margin-left: -57px;
}
.layout-5 .answer-checked .exercise__answer.is-selected:after {
	margin-left: -29px;
}
.layout-6 .answer-checked .qtype__tof .exercise__answer.is-selected:before {
	right: -31px;
}

.layout-7 .answer-checked .exercise__answer.is-selected:before,
.layout-7 .is-wrong .exercise__answer-list:before {
	top: 75px;
	left: 50%;
	margin-left: -54px;
}
.layout-7 .answer-checked .exercise__answer.is-selected:after,
.layout-7 .is-wrong .exercise__answer-list:after {
	top: 75px;
	margin-left: -70px;
	right: 224px;
}
.layout-7 .answer-revealed .is-correct-answer .exercise__answer-text {
	background-color: transparent;
}

.layout-8 .answer-checked .exercise__answer.is-selected:after {content: none;}
.layout-8 .answer-checked .exercise__answer.is-selected:before {
	right: 6px;
}
.layout-9 .answer-checked .exercise__answer.is-selected:before {
	right: 5px;
}
.layout-10 .answer-checked .exercise__answer.is-selected:before {
	right: inherit;
	top: -76px;
	left: 20px;
}
.layout-10 .answer-checked .exercise__answer.is-selected:after {
	right: 0px;
	top: -74px;
}
.layout-10 .answer-revealed .dropzone:after {
	content: "答案: " attr(data-answer);
    display: block;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #FEF9FA;
}
.layout-11 .answer-checked .exercise__answer.is-selected:before {
	right: inherit;
	top: -1px;
	left: 50%;
	margin-left: -13px;;
}
.layout-13 .answer-checked .exercise__answer.is-selected:before {
	right: 50%;
	top: 53px;
	margin-right: -13px;
}

.layout-14 .answer-checked .dragzone .exercise__answer.is-selected:before,
.layout-18 .answer-checked .dragzone .exercise__answer.is-selected:before,
.layout-17 .answer-checked .dragzone .exercise__answer.is-selected:before,
.layout-15 .answer-checked .dragzone .exercise__answer.is-selected:before
{ right: -31px;}
.layout-14 .answer-checked .qtype__tof .exercise__answer.is-selected:before,
.layout-18 .answer-checked .qtype__tof .exercise__answer.is-selected:before,
.layout-17 .answer-checked .qtype__tof .exercise__answer.is-selected:before
{ right: -35px;}

.answer-revealed .exercise__answer.is-correct-answer {
	border: 3px dashed #0B7E0D;
	background-color: #FFCD47;
}
.fa.selected {
	color: #563209;
}
/* ==========================================================================
   Layout Specific
   ========================================================================== */
.layout-1 .exercise__answer.is-selected {
	background-color: #FF879D;
}
.layout-1 .show-answer-button,
.layout-1 .check-answer-button {
	display: none;
}
.layout-1 .answer-checked .exercise__answer.is-selected:after {
	content: "答錯了，請再選擇。";
	right: -280px;
}
.layout-1 .answer-checked .exercise__answer.is-selected.is-correct-answer:after {
	content: "答對了！";
	right: -150px;
}
.layout-1 .answer-checked .exercise__answer {
	pointer-events: all;
}
.layout-3 .exercise__answer-list {
	text-align: center;
}
.layout-3 .exercise__answer {
	/*width: 33%;*/
	padding: 0 0.3%;
	display: inline-block;
	vertical-align: top;
	background-color: transparent;
	margin-bottom: 50px;
}
.layout-3 .exercise__answer-text {
	height: 100%;
	display: table;
	background-color: #FFEBB5;
}
.layout-3 .exercise__answer-text-inner {
	display: table-cell;
	vertical-align: middle;
}
.layout-3 .exercise__answer-text .exercise__answer-image {
	width: auto;
	max-width: none;
	height: 125px;

}

.layout-4 .exercise__question-content {
	float: left;
	width: 33%;
	padding: 0 2%;
	position: relative;
}
.layout-4 .exercise__question-content:after {
	content: '';
	width: 0;
	height: 0;
	border: 10px solid rgba(0, 0, 0, 0);
	border-left-color: #985239;
	position: absolute;
	top: 89px;
	right: -16px;
}
.layout-4 .exercise__question-content:last-child:after {
	content: none;
}
.layout-4 .exercise__question .exercise__question-image {
	max-width: none;
	margin: 0 auto 0.3em;
	height: 192px;
	border: 3px solid #985239;
}
.layout-4 .exercise__answer-list,
.layout-7 .exercise__answer-list,
.dragzone.exercise__answer-list,
.dropzone.exercise__answer-list,
.exercise__answer.gu-mirror {
	list-style: none;
	display: block;
}
.layout-4 .exercise__answer-list,
.layout-7 .exercise__answer-list {
	text-align: center;
}
.layout-4 .exercise__answer {
	text-align: center;
	display: inline-block;
	width: 140px;
	margin: 0 10px;
	position: static;
}

.layout-5 .exercise__answer-list {
	display: block;
}

.layout-6 .qtype__tof .exercise__answer {
	text-align: center;
}
.layout-6 .exercise__question-image {
	height: auto;
}
.layout-7 .exercise__answer {
	background-color: transparent;
	position: static;
}
.layout-7 .exercise__answer-text {
	background-color: #FFEBB5;
}
.layout-7 .exercise__question-video {
	text-align: center;
	height: 200px;
	line-height: 200px;
	background-color: #aaa;
}
.layout-7 .owl-carousel .owl-item {
	padding: 30px 0px 40px 20px;
}

.layout-8 .answer-revealed .exercise__answer.is-correct-answer {
	background: #CE1739;
	color: #fff;
	border: 3px dashed #800A20!important;
}
.layout-10 .dragzone {min-height: 100px}
.layout-10 .dropzone {min-height: 320px;}

.layout-10 .dragzone .exercise__answer {
	display: inline-block;
	padding-left: 0;
	margin: 0 1%;
}
.layout-10 .dragzone .exercise__answer-image {
	width: auto;
    max-width: none;
    height: 216px;
}
.layout-10 .dropzone,
.layout-11 .dropzone,
.layout-12 .dropzone,
.layout-13 .dropzone,
.layout-14 .dropzone,
.layout-18 .dropzone,
.layout-17 .dropzone,
.layout-15 .dropzone
{
	float: left;
	background: #fff;
	border: 2px solid #000;
	margin: 0 -2px 0 0;
	color: #000
}
.layout-10 .dropzone,
.layout-11 .dropzone {
	width: 33%;

}
.layout-10 .dropzone .exercise__answer {
	padding: 0;

}

.layout-11 .dragzone {min-height: 156px}
.layout-11 .dragzone .exercise__answer,
.layout-11 .dropzone .exercise__answer,
.layout-12 .dragzone .exercise__answer
{
	display: inline-block;
	padding: 0;
	margin-right: 10px;
	margin-bottom: 16px;
}
.layout-12 .dropzones-outer {
	height: 200px;
}
.layout-12 .dropzone {
	width: 25%;
	margin-bottom: 30px;
	min-height: 130px;
	transition: background-color 0.3s;
}
.layout-12 .exercise__answer {
	opacity: 1;
	height: 50px;
	transition: all 0.3s;
}
.layout-12 .dropzone .exercise__answer.is-correct-answer {
	opacity: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	visibility: hidden;
}
.layout-12 .answer-checked .exercise__answer {
	pointer-events: all;
}
.layout-12 .gu-transit,
.layout-13 .gu-transit,
.layout-14 .gu-transit,
.layout-18 .gu-transit,
.layout-17 .gu-transit,
.layout-15 .gu-transit
{
	display: none;
}
.layout-12 .answer-checked .exercise__answer.is-selected:before,
.layout-12 .answer-checked .exercise__answer.is-selected:after
{
	content: none;
}
.layout-13 .dragzone,
.layout-14 .dragzone,
.layout-18 .dragzone,
.layout-17 .dragzone,
.layout-15 .dragzone
{	min-height: 0;
	margin: 0;
	padding: 0;
}
.layout-13 .dragzone .exercise__answer,
.layout-14 .dragzone .exercise__answer,
.layout-18 .dragzone .exercise__answer,
.layout-17 .dragzone .exercise__answer,
.layout-15 .dragzone .exercise__answer
{
	margin: 0;
	background-color: transparent;
	text-align: center;
	padding: 0px 0 10px;
}
.layout-13 .dropzone,
.layout-14 .dropzone,
.layout-18 .dropzone,
.layout-17 .dropzone,
.layout-15 .dropzone
{
	background-color: transparent;
	text-align: center;
	border: 0;
}
.layout-13 .dropzone {
	width: 25%;
	min-height: 130px;
	margin: 0 0 30px 0;
	padding-top: 30px;
}
.layout-13 .dragzones-outer
{
	padding-bottom: 100px;
	margin-bottom: 0px;
}
.layout-13 .exercise__answer-text:after,
.layout-13 .dropzone:after,
.layout-14 .dragzone .exercise__answer:after,
.layout-18 .dragzone .exercise__answer:after,
.layout-15 .dragzone .exercise__answer-text:after,
.layout-17 .dragzone .exercise__answer-text:after,
.layout-14 .dropzone:after,
.layout-18 .dropzone:after,
.layout-15 .dropzone:after,
.layout-17 .dropzone:after
{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #4682B4;
	position: absolute;
}
.layout-13 .exercise__answer-text:after,
.layout-13 .dropzone:after {
	left: 50%;
	margin-left: -5px;
}
.layout-13 .exercise__answer-text:after,
.layout-14 .exercise__answer:after,
.layout-18 .exercise__answer:after,
.layout-17 .exercise__answer-text:after,
.layout-15 .exercise__answer-text:after
{
	bottom: -1px;

}
.layout-13 .dropzone:after
{
	top: -4px;
}
.layout-13 .gu-mirror,
.layout-14 .gu-mirror,
.layout-18 .gu-mirror,
.layout-17 .gu-mirror,
.layout-15 .gu-mirror
{
	display: none!important;
}
.layout-13 .dropzone.over,
.layout-14 .dropzone.over,
.layout-18 .dropzone.over,
.layout-17 .dropzone.over,
.layout-15 .dropzone.over
{
	background-color: transparent!important;
	color: #4682B4;
    font-weight: bold;
}

.layout-14 .dnd,
.layout-18 .dnd
{
	height: 610px;
}
.layout-14 .dragzones-outer,
.layout-18 .dragzones-outer,
.layout-17 .dragzones-outer,
.layout-15 .dragzones-outer,
.layout-14 .dropzones-outer,
.layout-18 .dropzones-outer,
.layout-17 .dropzones-outer,
.layout-15 .dropzones-outer
{
	height: 100%;
	float: left;
}
.layout-14 .dragzones-outer,
.layout-18 .dragzones-outer,
.layout-17 .dragzones-outer,
.layout-15 .dragzones-outer
{
	width: 66%;
	padding-right: 33%;
}
.layout-14 .dropzones-outer,
.layout-18 .dropzones-outer,
.layout-17 .dropzones-outer,
.layout-15 .dropzones-outer
{
	width: 33%;
}
.layout-14 .dragzone .exercise__answer,
.layout-18 .dragzone .exercise__answer,
.layout-17 .dragzone .exercise__answer,
.layout-15 .dragzone .exercise__answer,
.layout-14 .dropzone,
.layout-18 .dropzone,
.layout-17 .dropzone,
.layout-15 .dropzone
{
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	/*background-color: #eee;*/
	/*margin-bottom: 10px;*/
}
.layout-14 .dragzone .exercise__answer,
.layout-18 .dragzone .exercise__answer,
.layout-17 .dragzone .exercise__answer,
.layout-15 .dragzone .exercise__answer,
.layout-14 .dropzone,
.layout-18 .dropzone,
.layout-17 .dropzone,
.layout-15 .dropzone,
.layout-14 .qtype__tof .exercise__answer-list,
.layout-18 .qtype__tof .exercise__answer-list,
.layout-17 .qtype__tof .exercise__answer-list
{
	height: 120px;
}
.layout-14 .dropzone,
.layout-18 .dropzone,
.layout-17 .dropzone,
.layout-15 .dropzone
{
	min-height: 0;
}
.layout-14 .dragzone .exercise__answer,
.layout-18 .dragzone .exercise__answer,
.layout-17 .dragzone .exercise__answer,
.layout-15 .dragzone .exercise__answer
{
}
.layout-14 .dragzone .exercise__answer-text,
.layout-18 .dragzone .exercise__answer-text,
.layout-17 .dragzone .exercise__answer-text,
.layout-14 .dropzone:before,
.layout-18 .dropzone:before,
.layout-17 .dropzone:before,
.layout-15 .dragzone .exercise__answer-text,
.layout-15 .dropzone:before
{
	padding: 0;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.layout-14 .exercise__answer:after,
.layout-18 .exercise__answer:after,
.layout-17 .exercise__answer-text:after,
.layout-15 .exercise__answer-text:after,
.layout-14 .dropzone:after,
.layout-18 .dropzone:after,
.layout-17 .dropzone:after,
.layout-15 .dropzone:after
{
	top: 50%;
	margin-top: -5px;
}
.layout-14 .exercise__answer:after,
.layout-18 .exercise__answer:after,
.layout-17 .exercise__answer-text:after,
.layout-15 .exercise__answer-text:after
{
	right: -21px;
}
.layout-14 .dropzone:after,
.layout-18 .dropzone:after,
.layout-17 .dropzone:after,
.layout-15 .dropzone:after
{
	left: -22px;
}
.layout-14 .qtype__tof .exercise__answer-list,
.layout-18 .qtype__tof .exercise__answer-list,
.layout-17 .qtype__tof .exercise__answer-list
{
	margin: 0;
	padding: 20px 0;
}
.layout-14 .qtype__tof .exercise__answer-text,
.layout-18 .qtype__tof .exercise__answer-text,
.layout-17 .qtype__tof .exercise__answer-text
{
	padding: 2px 0;
	text-align: center;
	font-size: 18px;
}
.layout-14 .qtype__tof .exercise__answer.is-selected,
.layout-18 .qtype__tof .exercise__answer.is-selected,
.layout-17 .qtype__tof .exercise__answer.is-selected
{
	/*background-color: #FF879D;*/
}

.layout-14 .exercise__answer .exercise__answer-image,
.layout-18 .exercise__answer .exercise__answer-image
{
	width: auto;
	height: 70px;
}
.layout-14 .dragzone .exercise__answer .exercise__answer-text,
.layout-18 .dragzone .exercise__answer .exercise__answer-text,
.layout-14 .dropzone:before,
.layout-18 .dropzone:before,
.layout-17 .dropzone:before
{
	top: 73px;
	transform: none;
	-webkit-transform: none;
	font-size: 16px;
	margin-bottom: 0;
}


/* ==========================================================================
   SVG
   ========================================================================== */
#draw-panel {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
svg line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}

/* ==========================================================================
   Animation
   ========================================================================== */
@-webkit-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-moz-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-o-keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@keyframes showbingo {
	0% { opacity: 0; visibility: hidden; }
	10% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
@-webkit-keyframes flash-in {
	0% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
}
@keyframes flash-in {
	0% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
}
@-webkit-keyframes flash-out {
	0% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
}
@keyframes flash-out {
	0% {
	    opacity: 1;
	    -webkit-transform: translate(-50% , -100% ) scale(1);
	    transform: translate(-50% , -100% ) scale(1);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: translate(-50% , -100% ) scale(3);
	    transform: translate(-50% , -100% ) scale(3);
	}
}
/* ==========================================================================
   Exercise Specific
   ========================================================================== */
.ch5.ex1 .question-number {display: none;}
.ch5.ex1 .exercise__question-number {
	float: left;
	background: none;
	padding-left: 46px;
}
.ch5.ex1 .exercise__question-text {
	text-align: right;
	font-size: 22px;
	padding-right: 30px;
}
.ch5.ex1 .exercise__answer-list {
	display: block;
	list-style-type: decimal;
}
.ch5.ex1 .exercise__answer-text {padding-left: 20px;

}
.ch5.ex1 .exercise__answer .fa {
	float: right;
	margin-right: 54px;
}
.ch5.ex1 .answer-checked .exercise__answer.is-selected.is-correct-answer:after {content: none;}
.ch5.ex1 .answer-checked .exercise__answer.is-selected:before {right: 15px;}

.ch5.ex2 .question-number {visibility: hidden;}

.ch3.ex1 .exercise__question,
.ch2.ex3 .exercise__question,
.ch5.ex3 .exercise__question,
.ch8.ex2 .exercise__question
{
	float: left;
}
.ch3.ex1 .exercise__question-content
{
	float: none;
	width: 100%;
}
.ch3.ex1 .exercise__question .exercise__question-image,
.ch2.ex3 .exercise__question .exercise__question-image,
.ch5.ex3 .exercise__question .exercise__question-image
{
	width: auto;
	height: auto;
}
.ch3.ex1 .exercise__answer-list-outer
{
	margin-left: 256px;
}
.ch3.ex1 .exercise__answer,
.ch2.ex3 .exercise__answer,
.ch5.ex3 .exercise__answer,
.ch8.ex2 .exercise__answer
{
	margin-bottom: 7px;
	display: block;
	width: 100%;
}
.ch3.ex4 .exercise__answer {
	margin-bottom: 20px;
}
.ch3.ex4 .exercise__answer-text .exercise__answer-image {
	height: 173px;

}

.ch5.ex3 .exercise__question
{
	width: 56%;
}
.ch2.ex3 .exercise__question-content,
.ch5.ex3 .exercise__question-content,
.ch8.ex2 .exercise__question-content
{width: 100%;
}
.ch2.ex3 .exercise__question .exercise__question-image,
.ch5.ex3 .exercise__question .exercise__question-image,
.ch8.ex2 .exercise__question .exercise__question-image
{
	max-height: 280px;
	max-width: 100%;
}
.ch5.ex3 .exercise__answer-list-outer
{
	margin-left: 320px;
}
.ch2.ex3 .is-wrong .exercise__answer-list:before,
.ch5.ex3 .is-wrong .exercise__answer-list:before
{
	top: inherit;
	bottom: -40px;
}
.ch2.ex3 .is-wrong .exercise__answer-list:after,
.ch5.ex3 .is-wrong .exercise__answer-list:after
{
	top: inherit;
	bottom: -45px;
}

.ch8.ex2 .exercise__answer {
	position: static;
}
.ch8.ex2 .answer-checked .exercise__answer.is-selected:before{
	right: inherit;
	margin-left: -50px;
}
.ch8.ex2 .answer-checked .exercise__answer.is-selected:after {
	right: inherit;
	margin-left: -17px;
}

.ch4.ex2 .dropzone,
.ch10.ex3 .dropzone
{width: 50%;}
.ch4.ex2 .dragzone,
.ch10.ex3 .dragzone
{padding: 0;}
.ch4.ex2 .dragzone .exercise__answer,
.ch10.ex3 .dragzone .exercise__answer
{width: 48%;}

.ch4.ex2 .dropzone .exercise__answer,
.ch10.ex3 .dropzone .exercise__answer
{
	display: inline-block;
	margin: 0 1% 10px;
	width: 48%;
}

.ch4.ex2 .exercise__answer-image,
.ch10.ex3 .exercise__answer-image
{
	margin-bottom: 0;
	width: 100%;
}
.ch4.ex2 .exercise__answer-image,
.ch10.ex3 .exercise__answer-image,
.ch10.ex3 .dropzone .exercise__answer-image
{ height: 182px; }

.ch4.ex2 .dropzone .exercise__answer-image,
.ch10.ex3 .dropzone .exercise__answer-image
{ height: 80px; }

.ch4.ex2 .exercise__answer-text,
.ch10.ex3 .exercise__answer-text
{ display: none; }

.ch4.ex2 .answer-checked .exercise__answer.is-selected:before,
.ch10.ex3 .answer-checked .exercise__answer.is-selected:before
{
	top: 0px;
	left: 50%;
	margin-left: -13px;
}
.ch4.ex2 .answer-checked .exercise__answer.is-selected:after,
.ch10.ex3 .answer-checked .exercise__answer.is-selected:after,
.ch4.ex2 .answer-revealed .dropzone:after,
.ch10.ex3 .answer-revealed .dropzone:after
{content: none;}

.ch8.ex1 .qtype__tof .exercise__answer-text-inner > .fa:first-child,
.ch4 .qtype__tof-mc .exercise__answer-text-inner > .fa-check-circle,
.ch4 .qtype__tof-mc .exercise__answer-text-inner > .fa-times-circle,
.ch4 .qtype__tofx2 .exercise__answer-text-inner > .fa-check-circle,
.ch4 .qtype__tofx2 .exercise__answer-text-inner > .fa-times-circle
{ display: none; }

.ch4 .qtype__tof-mc .exercise__question-image {
	width: auto;
}
.ch4 .qtype__tofx2 .exercise__question-number {
	margin-bottom: 8px;
}
.ch4 .qtype__tofx2 .tof0 .exercise__answer,
.ch4 .qtype__tofx2 .tof1 .exercise__answer {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.ch4 .qtype__tofx2 .tof0 .exercise__answer {
	width: 20%;
	font-size: 18px;
	height: 209px;
	
}
.ch4 .qtype__tofx2 .tof0 .exercise__answer .fa-square-o,
.ch4 .qtype__tofx2 .tof0 .exercise__answer .fa-check-square
{
	display: block;
}
.ch4 .qtype__tofx2 .tof1 .exercise__answer {
	width: 48%;
	margin: 0 1%;
}
.ch4 .qtype__tofx2 .exercise__question-image {
	height: 107px;
}
.ch4 .answer-checked .qtype__tof-mc .qtype__tof .exercise__answer.is-selected:before {
	right: 8px;
}
.ch4 .answer-checked .qtype__tofx2 .exercise__answer.is-selected:before {
	top: -3px;
	right: 50%;
	margin-right: -13px;
}
.ch4 .answer-checked .qtype__tof-mc .qtype__tof .exercise__answer.is-selected:after,
.ch4 .answer-checked .qtype__tofx2 .exercise__answer.is-selected:after
{content: none;}

.ch4.ex1 .dropzone,
.ch6.ex1 .dropzone,
.ch10.ex2 .dropzone,
.ch9.ex1 .dropzone {
	background-repeat: no-repeat;
	background-position: top center;
}
.ch4.ex1 .dropzone {background-size: 82px 70px;}
.ch4.ex1 .dropzone:nth-child(1) { background-image: url(../img/ch4/ex1/4-1-2-6.png); }
.ch4.ex1 .dropzone:nth-child(2) { background-image: url(../img/ch4/ex1/4-1-2-7.png); }
.ch4.ex1 .dropzone:nth-child(3) { background-image: url(../img/ch4/ex1/4-1-2-8.png); }
.ch4.ex1 .dropzone:nth-child(4) { background-image: url(../img/ch4/ex1/4-1-2-9.png); }
.ch4.ex1 .dropzone:nth-child(5) { background-image: url(../img/ch4/ex1/4-1-2-10.png); }

.ch6.ex1 .dropzone {background-size: 82px 70px;}
.ch6.ex1 .dropzone:nth-child(1) { background-image: url(../img/ch6/ex1/6-1-1-6.png); }
.ch6.ex1 .dropzone:nth-child(2) { background-image: url(../img/ch6/ex1/6-1-1-7.png); }
.ch6.ex1 .dropzone:nth-child(3) { background-image: url(../img/ch6/ex1/6-1-1-8.png); }
.ch6.ex1 .dropzone:nth-child(4) { background-image: url(../img/ch6/ex1/6-1-1-9.png); }
.ch6.ex1 .dropzone:nth-child(5) { background-image: url(../img/ch6/ex1/6-1-1-10.png); }

.ch10.ex2 .dropzone {background-size: 82px 70px;}
.ch10.ex2 .dropzone:nth-child(1) { background-image: url(../img/ch10/ex2/10-2-1-6.png); }
.ch10.ex2 .dropzone:nth-child(2) { background-image: url(../img/ch10/ex2/10-2-1-7.png); }
.ch10.ex2 .dropzone:nth-child(3) { background-image: url(../img/ch10/ex2/10-2-1-8.png); }
.ch10.ex2 .dropzone:nth-child(4) { background-image: url(../img/ch10/ex2/10-2-1-9.png); }
.ch10.ex2 .dropzone:nth-child(5) { background-image: url(../img/ch10/ex2/10-2-1-10.png); }

.ch9.ex1 .dropzone {background-size: 82px 70px;}
.ch9.ex1 .dropzone:nth-child(1) { background-image: url(../img/ch9/ex1/9-1-3-1.png); }
.ch9.ex1 .dropzone:nth-child(2) { background-image: url(../img/ch9/ex1/9-1-3-2.png); }
.ch9.ex1 .dropzone:nth-child(3) { background-image: url(../img/ch9/ex1/9-1-3-3.png); }
.ch9.ex1 .dropzone:nth-child(4) { background-image: url(../img/ch9/ex1/9-1-3-4.png); }
.ch9.ex1 .dropzone:nth-child(5) { background-image: url(../img/ch9/ex1/9-1-3-5.png); }

.ch2.ex2 .owl-carousel .owl-item {padding-bottom: 40px;}
.ch2.ex2 .exercise__question-text {	font-size: 18px; }
.ch2.ex2 .answer-checked .exercise__answer.is-selected.is-correct-answer:before,
.ch2.ex2 .is-wrong .exercise__answer-list:before
{ margin-left: -55px;}
.ch2.ex2 .answer-checked .exercise__answer.is-selected.is-correct-answer:after,
.ch2.ex2 .is-wrong .exercise__answer-list:after
{ margin-left: -22px;}

.ch2.ex3 .exercise__question {width: 64%;}
.ch2.ex3 .exercise__answer-list-outer {margin-left: 370px;}

.ch8.ex2 .exercise__question {width: 70%;}
.ch8.ex2 .exercise__question .exercise__question-image { width: 100%; }
.ch8.ex2 .exercise__answer-list-outer {margin-left: 410px;}
.ch8.ex2 .is-wrong .exercise__answer-list:after,
.ch8.ex2 .answer-checked .exercise__answer.is-selected:after {right: -5px;left: initial;}

.ch6.ex3 .exercise__question .exercise__question-image {width: auto;height: auto;}

.ch8.ex1 .exercise__question {margin-bottom: 5px;}
.ch8.ex1 .exercise__question-text {font-size: 24px}
.ch1.ex2 .owl-carousel .owl-item {padding-bottom: 40px;}
.ch1.ex2 .dropzone {
	background-color: #E0E0E0;
	border-left: 3px solid #505050;
	border-right: 3px solid #505050;
	padding-top: 70px;
	margin-top: 64px;
	margin-bottom: 40px;
}
.ch1.ex2 .dropzone:before,
.ch1.ex2 .dropzone:after {
	content: '';
	background-color: #E0E0E0;
	display: block;
	width: 102.5%;
	height: 100px;
	position: absolute;
	left: -3px;
	right: 0;
	border-radius: 130px / 50px;
	
	border: 3px solid #505050;
}
@media (max-width: 650px) {
	.ch1.ex2 .dropzone:before,
	.ch1.ex2 .dropzone:after {
		width: 103%;
	}
}
.ch1.ex2 .dropzone:before {
	content: "垃圾桶";
	top: -49px;
	z-index: 1;
	color: #505050;
	font-weight: bold;
	text-align: center;
	padding-top: 35px;
}
.ch1.ex2 .dropzone:after {bottom: -50px;z-index: -1;}
.ch1.ex2 .dropzone .exercise__answer {
	background-color: #CA610A;
}

.ch1.ex4 .dropzone:first-child,
.ch4.ex2 .dropzone:first-child,
.ch10.ex3 .dropzone:first-child,
.ch3.ex3 .dropzone:first-child
{ background-color: #ECB724; color: #fff; }
.ch1.ex4 .dropzone:last-child,
.ch4.ex2 .dropzone:last-child,
.ch10.ex3 .dropzone:last-child,
.ch3.ex3 .dropzone:last-child
{ background-color: #BF2441; color: #fff; }

.ch3.ex2 .dragzone .exercise__answer
{
	margin: 0 3px;
}
.single-question-ex .exercise__question-number
{ display: none }

.ch7.ex2 .check-answer-button
{ display: none }

.ch3.ex3 .dropzone {
	padding: 10px;
}

.ch7.ex1 .dropzone {
	margin-bottom: 0;
}